<header class="header">
  <div class="header_bar_back"></div>
  <div class="header_bar_front">
    <div class="header-left">
      <a href="/">タイトル</a>
    </div>
    <div class="header-right">
      <% if user_signed_in? %>
        <div class="user_nav grid-6">
          <span><%= current_user.nickname %></span>
        </div> 
        <div class="user__info">
          <div class="login_now">
            <%= link_to "投稿する", new_animal_path %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          </div>
      <% else %>
          <div class="logout_now">
            <%= link_to "ログイン", new_user_session_path, calss: "user_session"%>
            <%= link_to "新規登録", new_user_registration_path, class: "user_registration" %>
          </div>
          <div class="logout_now">
            <%= link_to "団体ログイン", new_conservation_group_session_path, calss: "conservation_group_session"%>
            <%= link_to "団体新規登録", new_conservation_group_registration_path, class: "conservation_group_registration" %>
          </div>
        </div>
      <% end %> 
    </div>
  </div>
</header>