<h1>
  探す
</h1>
<%= search_form_for @q, url: complex_search_animals_path do |f| %>
  <%= f.label :sex_id_eq, '性別' %>
  <%= f.collection_radio_buttons :sex_id_eq, Sex.all, :id, :name,  include_blank: '指定なし' %>
  <br>
  <%= f.label :animal_category_id_eq, '種類' %>
  <%= f.collection_radio_buttons :animal_category_id_eq, AnimalCategory.all, :id, :name,  include_blank: '指定なし' %>
  <br>
  <%= f.label :size_id_eq, '大きさ' %>
  <%= f.collection_radio_buttons :size_id_eq, Size.all, :id, :name,  include_blank: '指定なし' %>
  <br>
  <%= f.label :prefecture_id_eq, 'エリア' %>
  <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name,  include_blank: '---' %>
  <br>
  <%= f.submit '検索' %>
<% end %>