<div class="search-animal">
  <label for="menu_bar01">探す</label>
  <input type="checkbox" id="menu_bar01" />
  <ul id="links01">
    <%= search_form_for @q, url: complex_search_animals_path do |f| %>
      <li class="search-form-list">
        <%= f.label :kind_name_cont, "犬種・猫種" %>
        <%= f.search_field :tags_kind_name_cont %>
      </li>
      <li class="search-form-list">
        <%= f.label :sex_id_eq, '性別' %>
        <%= f.collection_select :sex_id_eq, Sex.all, :id, :name,  include_blank: '指定なし' %>
      </li>
      <li class="search-form-list">
        <%= f.label :animal_category_id_eq, '種類' %>
        <%= f.collection_select :animal_category_id_eq, AnimalCategory.all, :id, :name,  include_blank: '指定なし' %>
      </li>
      <li class="search-form-list">
        <%= f.label :size_id_eq, '大きさ' %>
        <%= f.collection_select :size_id_eq, Size.all, :id, :name,  include_blank: '指定なし' %>
      </li>
      <li class="search-form-list">
        <%= f.label :prefecture_id_eq, 'エリア' %>
        <%= f.collection_select :prefecture_id_eq, Prefecture.all, :id, :name,  include_blank: '指定なし' %>
      </li>
      <li class="search-form-list">
        <%= f.label :age, '年齢' %>
        <%= f.radio_button :age_lteq, '' %>指定なし
        <%= f.radio_button :age_lteq, '1' %>１歳以下
        <%= f.radio_button :age_lteq, '6' %>6歳以下
        <%= f.radio_button :age_lteq, '10' %>10歳以下
        <%= f.radio_button :age_lteq, '15' %>15歳以下
        <%= f.radio_button :age_gteq, '16' %>16歳以上
      </li>
      <li>
        <%= f.submit '検索' %>
      </li>
    <% end %>
  </ul>
</div>
