<h2>新規投稿</h2>

<%= form_with model: @new_animal, url: animals_path, local: true do |f| %>
  <%# <%= render "devise/shared/error_messages", resource: @new_animal %> 

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :animal_category_id %><br />
    <%= f.collection_radio_buttons(:animal_category_id, AnimalCategory.all, :id, :name, {}, {class:"select-box", id:"animal-category"}) %>
  </div>

  <div class="field">
    <%= f.label :kind_name %><br />
    <%= f.text_field :kind_name %>
  </div>

  <div class="field">
    <%= f.label :size_id %><br />
    <%= f.collection_radio_buttons(:size_id, Size.all, :id, :name, {}, {class:"select-box", id:"animal-size"}) %>
  </div>

  <div class="field">
    <%= f.label :sex_id %><br />
    <%= f.collection_radio_buttons(:sex_id, Sex.all, :id, :name, {}, {class:"select-box", id:"animal-sex"}) %>
  </div>

  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>

    <div class="field">
    <%= f.label :birth_date %><br />
    <%= f.date_select :birth_date %>
  </div>

  <div class="field">
    <%= f.label :info %><br />
    <%= f.text_field :info %>
  </div>

    <div class="field">
    <%= f.label :personality %><br />
    <%= f.text_field :personality %>
  </div>

  <div class="field">
    <%= f.label :prefecture_id %><br />
    <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"select-box", id:"animal-prefecture"}) %>
  </div>

  <div class="actions">
    <%= f.submit "投稿する" %>
  </div>
<% end %>

<%= link_to "TOPページへ戻る" , root_path %>
