<!DOCTYPE html>
<html>
  <head>
    <title>ProtectedAnimals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

   <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">ProtectedAnimals</a></h1>
       <%# <% if user_signed_in? %> 
          <div class="user_nav grid-6">
          <%# <span><%= current_user.nickname %> 
            <ul class="user__info">
              <li>
                <%= link_to "マイページ"  %>
                <%= link_to "ログアウト" %>
              </li>
            </ul>
          </span>
            <%= link_to "投稿する" %>
          </div>
        <%# <% else %> 
          <div class="grid-6">
            <%= link_to "ログイン" %>
            <%= link_to "新規登録" %>
          </div>
        <%# <% end %> 
      </div>
    </header>

  <body>
    <%= yield %>
  </body>
</html>
