<!DOCTYPE html>
<html>

  <head>
    <title>ProtectedAnimals</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://yubinbango.github.io/yubinbango/yubinbango.js" charset="UTF-8"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>
    <%= yield %>
    <%# <footer>
      <p>
        Copyright ProtectedAnimal 2021.
      </p>
    </footer> %>
  </body>

</html>
